.matplot-contextmenu {
    border: 1px solid #CCC;
    background-color: white;
    box-shadow: 0px 5px 10px gray;
    border-radius: 5px;
    padding: 3px 0px;
}

.matplot-contextmenu li {
    list-style-type: none;
}

.matplot-contextmenu ul {
    margin: 0;
    padding: 0;
}

.matplot-contextmenu a {    
   text-decoration: none;
   color: #000;
   padding: 3px 2em;
   display: block;
}

.matplot-contextmenu a:hover{
  background-color: #555;
  color: white;
}

.matplot-contextmenu .matplot-about {
 font-style: italic;
}