body {
  font-family: sans-serif, Verdana;
/*font-family:'Lucida Casual', 'Comic Sans MS';*/
  min-width: 480px;
}

h1 {
 color: #008;
 margin: 0.1em 0px;
 text-shadow: rgba(0, 0, 0, 0.5) 0 2px 2px;
}

